In [4]:

for trial_name in trials:
    TRIAL = trial_name
    print(TRIAL)

go
dp

In [2]:
trials = ['go', 'dp']
trials

['go', 'dp']

In [ ]:
df = df.assign(mean=df.mean(axis=1))

In [8]:
import pandas as pd

In [33]:
df = pd.read_excel("Plot Length and Plant height 2021-22. copy.xlsx")
plant_height_col = ['Plant Height (cm)', 'Plant Height (cm).1','Plant Height (cm).2' ,'Plant Height (cm).3' ,'Plant Height (cm).4','Plant Height (cm).5']
plant_height_col = {'Plant Height (cm)_1':`Plant Height (cm)_1`,
                     'Plant Height (cm)_2':`Plant Height (cm)_2`,
                     'Plant Height (cm)_3':`Plant Height (cm)_3` ,
                     'Plant Height (cm)_4':`Plant Height (cm)_4` ,
                     'Plant Height (cm)_5':`Plant Height (cm)_5`,
                     'Plant Height (cm)_6':`Plant Height (cm)_6`}
df['Plant Height (cm) Mean'] = df[plant_height_col].mean(axis=1)
df['Plant Height (cm) SD'] = df[plant_height_col].std(axis=1)

SyntaxError: invalid syntax (<ipython-input-33-a33409a4308c>, line 3)

In [29]:
df

,Year,Location,Trial,Plot,Plot Length (m),Plant Height (cm),Plant Height (cm).1,Plant Height (cm).2,Plant Height (cm).3,Plant Height (cm).4,Plant Height (cm).5,Plant Height (cm) Mean,Plant Height (cm) SD
0,2021-22,HUT.E,DP,101,9.4488,53.0,49.0,50.0,52.0,61.0,52.0,52.833333,4.262237
1,2021-22,HUT.E,DP,102,9.1440,52.0,50.0,45.0,50.0,55.0,55.0,51.166667,3.763863
2,2021-22,HUT.E,DP,103,9.4488,58.0,53.0,55.0,51.0,61.0,54.0,55.333333,3.614784
3,2021-22,HUT.E,DP,104,9.4488,59.0,59.0,58.0,58.0,57.0,54.0,57.500000,1.870829
4,2021-22,HUT.E,DP,105,9.3726,50.0,55.0,61.0,58.0,59.0,59.0,57.000000,3.949684
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5228,2021-22,AB,RAIN,409,16.1036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5229,2021-22,AB,RAIN,414,16.0782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5230,2021-22,AB,RAIN,415,15.7734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5231,2021-22,AB,RAIN,416,15.3162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5232,2021-22,AB,RAIN,417,15.5448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN